.main-background {
  display: flex;
  align-items: center;
  position: fixed; /* Cố định vị trí */
  top: 100px;
  left: 210px;
  width: 1165px;
  height: 100%; /* Full màn hình */
  background: rgba(28, 27, 26, 0.999);  /* Nền trong suốt */
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(10px); /* Hiệu ứng kính mờ */
  /* border: 2px solid rgba(255, 255, 255, 0.4);  */
  /* Viền sáng ở cạnh phải */

  /* Đổ bóng 3D */
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2),
    inset -2px 0 5px rgba(255, 255, 255, 0.2);
}